/* Overall Section Styling */
.portfolio {
  background-color: var(--bg-section);
  padding: 40px;
  border-radius: 8px;  
  margin-top: 3rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: fit-content;
}


/* Header Styling */
.portfolio-header {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 20px;
  padding: 0 10px;
  border: 1px solid var(--border);
  width: fit-content;
  border-radius: 35px;
  
}


.portfolio-header p {
  font-size: 12px;
  font-weight: 400;
  color:  var(--dark);
}


.portfolio-header .nav-icon {
  font-size: 15px;
  color:  var(--dark);
}


/* Description Section Styling */
.portfolio-desc {
  margin-bottom: 30px;
}

.portfolio-desc h2 {
  font-size: 28px;
  font-weight: bold;
  color:  var(--dark);
  margin-bottom: 10px;
}

.portfolio-desc p {
  font-size: 16px;
  color: var(--light);
  line-height: 1.6;
  padding-right: 100px;
}

.portfolio-desc span {
  color: var(--primary); 
  font-weight: bold;
}


.portfolio-items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.portfolio-item {
  background: #f8f9fa;
  padding: 0;
  width: calc(33% - 20px);
  box-sizing: border-box;
  text-align: start;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border: 4px none black;
  border-radius: 4px;
  background-color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.portfolio-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.portfolio-item-details {
  padding: 0 20px 20px;
}

.portfolio-item img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 2px;
  transition: transform 0.3s ease;
}

.portfolio-item:hover img {
  transform: scale(1.05);
}

.portfolio-item h3 {
  font-weight: 400;
  font-size: 15px;
}

.portfolio-item p {
  font-size: 0.7rem;
  font-weight: 500;
  font-style: italic;
  opacity: 0.7;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.portfolio-item button {
  background: linear-gradient(45deg, #6b0f1a, var(--primary));
  border: none;
  color: white;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
  border-radius: 5px;
}

.portfolio-item button:hover {
  background: linear-gradient(45deg, var(--primary), #6b0f1a);
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.view-more-button {
  display: block;
  margin: 20px auto;
  padding: 12px 24px;
  background-color: transparent;
  color: var(--primary);
  border: 2px solid var(--primary);
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.view-more-button:hover {
  background-color: var(--primary);
  color: white;
}




/* Media Queries */

/* Mobile Styles */
@media (max-width: 600px) {
  .portfolio {
    padding: 20px;
  }

  .portfolio-desc p {
    padding-right: 0;
  }

  .portfolio-items {
    flex-direction: column;
    gap: 20px;
  }

  .portfolio-item {
    width: 100%;
  }

  .portfolio-item-details {
    padding: 0 10px 10px;
  }
}

/* Tablet Styles */
@media (min-width: 601px) and (max-width: 992px) {
  .portfolio {
    padding: 30px;
  }

  .portfolio-items {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  .portfolio-item {
    width: calc(50% - 20px);
  }

  .portfolio-item-details {
    padding: 0 15px 15px;
  }
}

/* Desktop Styles */
@media (min-width: 993px) {
  .portfolio {
    padding: 40px;
  }

  .portfolio-items {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  .portfolio-item {
    width: calc(33% - 20px);
  }

  .portfolio-item-details {
    padding: 0 20px 20px;
  }
}
