/* Overall Section Styling */
.services {
  background-color: var(--bg-section);
  padding: 40px;
  border-radius: 8px;  
  margin-top: 3rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  height: fit-content;
}

/* Header Styling */
.services-header {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 20px;
  padding: 0 10px;
  border: 1px solid var(--border);
  width: fit-content;
  border-radius: 35px;
}

.services-header p {
  font-size: 12px;
  font-weight: 400;
  color:  var(--dark);
}

.services-header .nav-icon {
  font-size: 15px;
  color:  var(--dark);
}



/* Description Section Styling */
.services-desc {
  margin-bottom: 20px;
}

.services-desc h2 {
  font-size: 28px;
  font-weight: bold;
  color:  var(--dark);
  margin-bottom: 10px;
}

.services-desc p {
  font-size: 16px;
  color: var(--light);
  line-height: 1.6;
  padding-right: 100px;
}

.services-desc span {
  color: var(--primary); 
  font-weight: bold;
}


.service-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.service-item {
  background-color: var(--bg-section);
  border-radius: 10px;
  box-shadow: 0 4px 8px var(--skill-border);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.service-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.service-icon {
  font-size: 40px;
  color: var(--primary);
  margin-bottom: 15px;
  transition: color 0.3s ease;
}

.service-item h3 {
  font-size: 22px;
  color:  var(--dark);
  margin-bottom: 10px;
  transition: color 0.3s ease;
}

.service-item p {
  font-size: 17px;
  color: var(--light);
  line-height: 1.5;
}

.service-item:hover .service-icon {
  color: var(--light);
}

.service-item:hover h3 {
  color: var(--primary);
}

/* Media query for smaller screens */
@media (max-width: 600px) {
  .service-items {
    grid-template-columns: 1fr;
  }

  .service-item {
    padding: 15px;
  }

  .service-icon {
    font-size: 35px;
  }

  .service-item h3 {
    font-size: 20px;
  }

  .service-item p {
    font-size: 14px;
  }
}


/* Header Styling */
.skills-header {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 20px;
  padding: 0 10px;
  border: 1px solid var(--border);
  width: fit-content;
  border-radius: 35px;
  margin-top: 4rem;
}

.skills-header p {
  font-size: 12px;
  font-weight: 400;
  color:  var(--dark);
}

.skills-header .nav-icon {
  font-size: 15px;
  color:  var(--dark);
}

/* Description Section Styling */
.skills-desc {
  margin-bottom: 30px;
}

.skills-desc h2 {
  font-size: 28px;
  font-weight: bold;
  color:  var(--dark);
  margin-bottom: 10px;
}

.skills-desc p {
  font-size: 16px;
  color: var(--light);
  line-height: 1.6;
  padding-right: 100px;
}

.skills-desc span {
  color: var(--primary); 
  font-weight: bold;
}


.skills-carousel {
  padding: 40px 0;
  position: relative;
}

.skill-item {
  display: inline-block;
  padding: 10px 15px;
  text-align: center;
  border: 1px solid var(--skill-border);
  margin: 15px 5px;
  width: 100px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.skill-item img {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.skill-item h3 {
  margin: 0;
  font-size: 20px;
  color:  var(--dark);
  padding: 5px;
  margin-bottom: 10px;

}

.skill-item p {
  margin: 0;
  font-size: 16px;
  color: var(--light);
}



@media (max-width: 1200px) {

}

@media (max-width: 992px) {
  .services-desc p,
  .skills-desc p {
      padding-right: 50px;
  }


}

@media (max-width: 768px) {

  .services-header p,
  .skills-header p {
      font-size: 10px;
  }

  .services-desc h2,
  .skills-desc h2 {
      font-size: 24px;
  }

  .services-desc p,
  .skills-desc p {
      font-size: 16px;
      padding-right: 30px;
  }


}

@media (max-width: 576px) {
  .services {
      padding: 20px;
  }

  .services-desc p,
  .skills-desc p {
      padding-right: 20px;
  }

}
