/* Overall Section Styling */
.about {
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;  
  margin-top: 3rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: fit-content;
}

/* Header Styling */
.about-header {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 20px;
  padding: 0 10px;
  border: 1px solid var(--border);
  width: fit-content;
  border-radius: 35px;
}

.about-header p {
  font-size: 12px;
  font-weight: 400;
  color: #333;
}

.about-header .nav-icon {
  font-size: 15px;
  color: #333;
}

/* Description Section Styling */
.about-desc {
  margin-bottom: 20px;
}

.about-desc h2 {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.about-desc p {
  font-size: 16px;
  color: #666;
  line-height: 1.6;
  padding-right: 100px;
}

.about-desc span {
  color: var(--primary); 
  font-weight: bold;
}

/* Skills Section Styling */
.about-skills {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.about-skills p {
  font-size: 16px;
  color: #333;
  padding: 10px 12px;
  border-radius: 40px;
  border: 1px dashed var(--border);
}

.about-skills span {
  font-weight: bold;
}

/* Details Section Styling */
.about-details {
  margin-bottom: 20px;
}

.about-details ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.about-details li {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
}

.about-details ul li b {
  margin-left: 1rem;
}

.about-details b {
  color: #555;
}

/* Numbers Section Styling */
.about-nums {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.nums-item-colomn {
  text-align: center;
  flex: 1;
  min-width: 150px;
}

.nums-item-colomn h1 {
  font-size: 36px;
  font-weight: bold;
  color: var(--primary); /* Use your primary color */
  margin: 0;
}

.nums-item-colomn p {
  font-size: 16px;
  color: #666;
  margin: 0;
}

/* Media Queries */
@media (max-width: 1200px) {
  .about-desc p {
    padding-right: 50px;
  }

  .about-skills {
    flex-wrap: wrap;
  }

  .about-skills p {
    margin-bottom: 10px;
  }
}

@media (max-width: 992px) {
  .about-desc h2 {
    font-size: 24px;
  }

  .about-desc p {
    font-size: 14px;
  }

  .about-skills p {
    font-size: 14px;
  }

  .about-details ul {
    grid-template-columns: 1fr;
  }

  .about-details ul li b {
    margin-left: 5px;
  }

  .nums-item-colomn h1 {
    font-size: 30px;
  }

  .nums-item-colomn p {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .about {
    padding: 20px;
  }



  .about-desc h2 {
    font-size: 22px;
  }

  .about-desc p {
    font-size: 13px;
    padding-right: 0;
  }

  .about-skills p {
    font-size: 13px;
    padding: 8px 10px;
  }

  .about-details ul {
    grid-template-columns: 1fr;
  }

  .nums-item-colomn h1 {
    font-size: 28px;
  }

  
  .about-details ul li b {
    margin-left: 5px;
  }

  .nums-item-colomn p {
    font-size: 13px;
  }
}

@media (max-width: 576px) {
  .about-desc h2 {
    font-size: 20px;
  }

  .about-desc p {
    font-size: 12px;
  }

  .about-skills p {
    font-size: 12px;
  }

  .nums-item-colomn h1 {
    font-size: 24px;
  }

  
  .about-details ul li b {
    margin-left: 5px;
  }

  .nums-item-colomn p {
    font-size: 12px;
  }
}
