.navbar-item a.active .tooltip {
  display: block;
}

.navbar-item .tooltip {
  display: none;
  margin-left: 10px;
  font-size: 14px;
  color: var(--primary);
  position: absolute;
  right: 35px;
  top: -20px;
  background-color: var(--bg-section);
  padding: 2px 12px;
  border: none;
  border-right: 2px inset var(--primary);
  z-index: 5;
  white-space: nowrap;
}

.navbar-item:hover .tooltip {
  display: block;
}

/* Rest of the CSS */
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  width: 60px; 
  height: fit-content;
  border-radius: 0 20px 20px 0;
  margin: auto;
  position: fixed;
  z-index: 10;
  right: 2%; 
  top: 50%; 
  transform: translate(-50%, -50%); 
  padding: 1rem;
  border-radius: 45px;
  border: 1px solid var(--border);
}

.navbar-img .thunder {
  font-size: 20px;
  color: var(--primary);
  padding: 5px;
  border: 1px solid var(--border);
  border-radius: 50%; 
}

.navbar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.navbar-item {
  position: relative;
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.navbar-item .nav-icon {
  color: var(--light);
  font-size: 18px;
}

.navbar-item .nav-icon:hover {
  color: var(--primary);
}

.navbar-item a.active .nav-icon {
  color: var(--primary); 
  transform: scale(1.2);
}

.navbar-socials {
  position: relative;
  margin-top: auto;
  padding: 20px;
}

.navbar-socials a {
  color: var(--dark);
  font-size: 24px;
  margin: 0 10px;
  text-decoration: none;
}

.navbar-socials .shared {
  display: none;
  position: absolute;
  right: 60px;
  top: 15px;
  background-color: var(--bg-section);
  border: 1px solid var(--nav-border);
  padding: 10px;
  border-radius: 30px;
}

.navbar-socials:hover .shared {
  display: flex;
  align-items: center;
  gap: 6px;
}

.navbar-socials .shared a {
  color: #656464;
  font-size: 18px;
}

.navbar-socials .shared a:hover {
  color: var(--primary);
}

.social-icon {
  padding: 10px;
  font-size: 18px;
  color: var(--dark);
  border: 1px solid var(--border);
  border-radius: 50%;
}

@media (max-width: 1200px) {
  .navbar {
    display: none;
  }
}
