.footer {
  color: var(--light); 
  text-align: center;
  position: relative;
  bottom: 0;
  padding: 20px; 
  background: transparent;
  margin-top: 2rem;
}

.footer-links {
  margin-bottom: 10px;
}

.footer-link {
  color: var(--primary);
  text-decoration: none;
  margin: 0 15px;
  font-size: 0.9rem;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-copy {
  font-size: 0.8rem;
}

.color-palette-container {
  position: fixed;
  right: 20px;
  bottom: 140px;
  z-index: 30;
}

.color-palette-button {
  cursor: pointer;
  font-size: 24px;
  background: var(--primary);
  color: #fff;
  border-radius: 16px;
  width: 40px;
  height: 40px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-palette-tooltip {
  position: absolute;
  bottom: 60px;
  right: 0;
  z-index: 30;
  background-color: #fff;
  /* border: 1px solid #ccc; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  /* border-radius: 8px; */
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 150px; 
}

.tooltip-header {
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.color-palette-options {
  display: flex;
  justify-content: space-between;
}

.color-dot {
  width: 20px;
  height: 20px;
  border-radius: 8px;
  cursor: pointer;
}



.back-to-top {
  position: fixed;
  z-index: 100;
  bottom: 20px;
  right: 20px;
  background: linear-gradient(45deg, #111418, var(--primary));
  color: #fff;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background 0.6s, transform 0.5s;
}

.back-to-top:hover {
  transform: rotate(1080deg);
  background: linear-gradient(45deg, var(--primary), #111418);
}

.back-to-top:focus {
  outline: none;
}

.back-to-top .icon {
  font-size: 22px;
  transform: rotate(90deg);
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-2px);
  }
  60% {
    transform: translateY(-4px);
  }
}


.whatsapp-button {
  position: fixed;
  z-index: 100;
  bottom: 80px;
  right: 20px;
  background: #25D366; 
  color: #fff;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
}

.whatsapp-button:hover {
  transform: scale(1.1); 
}


/* Footer.css */

.theme-changer {

  position: fixed;
  z-index: 100;
  bottom: 80px;
  right: 20px;
  background: transparent; 
  color:  #000;
  border-radius: 50%;
  border: none;
  font-size: 34px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
}

.theme-changer:hover {
  color: var(--primary); 
}


body.dark-mode .theme-changer {
  color: var(--primary);
  background-color: #111418;
}

body.dark-mode .theme-changer:hover {
  color: var(--light);
}


