/* Overall Section Styling */
.skills {
    background-color: var(--bg-section);
    padding: 40px;
    border-radius: 8px;  
    margin-top: 3rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: fit-content;
  }

  
  /* Header Styling */
  .skills-header {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 20px;
    padding: 0 10px;
    border: 1px solid var(--border);
    width: fit-content;
    border-radius: 35px;
    
  }
  

  .skills-header p {
    font-size: 12px;
    font-weight: 400;
    color: var(--dark);
  }

  
  .skills-header .nav-icon {
    font-size: 15px;
    color: var(--dark);
  }
  

  /* Description Section Styling */
  .skills-desc {
    margin-bottom: 30px;
  }
  
  .skills-desc h2 {
    font-size: 28px;
    font-weight: bold;
    color: var(--dark);
    margin-bottom: 10px;
  }
  
  .skills-desc p {
    font-size: 16px;
    color:  var(--light);
    line-height: 1.6;
    padding-right: 100px;
  }
  
  .skills-desc span {
    color: var(--primary); 
    font-weight: bold;
  }

 /* Carousel Container Styling */
.skills-carousel {
    position: relative;
    overflow: hidden; /* Ensure items do not overflow outside the container */
  }
  
  /* Skill Item Styling */
  .skill-item {
    background: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(0.9); 
    transition: transform 0.3s ease;
    margin: 0 10px;
  }
  
  .skill-item img {
    width: 50px; 
    height: auto;
    margin-bottom: 10px;
  }
  
  .skill-item h3 {
    font-size: 1.4rem;
    color: var(--dark);
    margin: 10px 0;
  }
  
  .skill-item p {
    font-size: 13px;
    color:  var(--light);
    margin-right: -4rem;
  }
  
  /* Slick Carousel Dots Styling */
  .slick-dots {
    bottom: -30px;
  }
  
  .slick-dots li button:before {
    color: var(--dark);
  }
  
  .slick-dots li.slick-active button:before {
    color: var(--primary);
  }
  